html,
body {
  margin: 0;
  background-color: #f2f2f2;
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}

.primary-button {
  background-color: #1ba261;
}

.accent-button {
  background-color: #1fb456;
}
