$primary-color: #1ba261;
$accent-color: #1fb456;
$background-color: #f2f2f2;

html,
body {
  margin: 0;
  background-color: $background-color;
  height: 100vh;
}
#root {
  height: 100%;
  width: 100%;
}

.primary-button {
  background-color: $primary-color;
}
.accent-button {
  background-color: $accent-color;
}
